body {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.main {
    height: 400px;
    margin: 200px 600px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid black;

}

/* Search div */

.search {
    display: flex;
    height: 40px;
    width: 650px;
    border: 1px solid #ededed;
    border-radius: 25px;
}

.logo {
    margin-bottom: 60px;
}
.search img, input {
    padding: 5px;
}

.search-input > input{
    height: 25px;
    width: 550px;
    border: none;
    margin-top: 2px;
}

.search-input {
    border: none;
}

.keyboard {
    color: red;
}